
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Server"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run src/server/index.ts"

[[workflows.workflow]]
name = "Run"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev & bun --watch src/server/index.ts"

[[workflows.workflow]]
name = "Frontend"
author = 36104266
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[workflows.workflow]]
name = "Backend"
author = 36104266
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run src/server/index.ts"

[[workflows.workflow]]
name = "Dev"
author = 36104266
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun --watch src/server/index.ts"
