modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run preview"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Server"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run src/server/index.ts"

[[workflows.workflow]]
name = "Run"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev & bun --watch src/server/index.ts"
