
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "node src/server/index.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8080

[workflows]
runButton = "Build and Run"

[[workflows.workflow]]
name = "Server"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run src/server/index.ts"

[[workflows.workflow]]
name = "Run"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev & bun --watch src/server/index.ts"

[[workflows.workflow]]
name = "Build and Run"
author = 36104266

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && node src/server/index.js"
